:root {
    --primary-bg: #F9F9FA;
    --primary: #697B03;
    --secondary: #7E4E24;
    --error: #FB4E4E;
    --warning: #E3C300;
    --success: #CBDD7A;
    --primary-border: #E8E8E8;
    --primary-text: #25282B;
    --secondary-text: #25282B;
    --inactive-state: #A0A4A8;
    --default-text: #CACCCF;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

/* header */

.header {
    background-image: url('./assets/images/olives-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 729px;
}

/* header navigation */
@media (max-width:  940px){ 
    .header__nav {
        position: relative;
        padding: 13px 50px;
    }

    .header__hamburguer-btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .header__nav__list--mobile--close {
        display: none;
    }

    .header__nav__list--mobile--open {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50px;
        right: 50px;
        z-index: 2;
        background-color: var(--primary-bg);
        padding: 0;
        width: 200px;
        border-radius: 5px;
        overflow-x: hidden;
    }

    .header__nav__list--mobile--open > li  {
        list-style: none;
        padding: 10px 10px;
        width: 100%;
    }

    .header__nav__list--mobile--open > li:hover  {
        background-color: var(--success);
    }

    .header__nav__list--mobile--open > li > a {
        padding-left: 10px;
        color: var(--secondary);
    }

    .header__nav__btn, .section--contact__btn, .footer__top__article__btn {
        width: 150px;
        padding: 12px 14px;
    }

    .header__nav__btn {
        margin: 0 25px;
    }

    .header__heading {
        padding: 120px 50px 70px;
    }

    .section {
        display: flex;
        flex-direction: column;
        padding: 0 50px;
    }

    .section--column > img {
        width: 90%;
    }

    .section__content--quotation {
        padding: 100px 25px 0;
        row-gap: 15px;
    }

    .footer__top {
        flex-wrap: wrap;
        row-gap: 25px;
    }

    .footer__top__article {
        width: 85%;
        margin: 0 auto;
    }

    .footer__bottom {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        align-items: center;
        font-size: 12px;        
    }

}

@media (min-width: 940px){ 
    .header__nav {
        padding: 13px 106px;
    }

    .header__nav__btn, .section--contact__btn, .footer__top__article__btn {
        width: 195px;
        padding: 20px 24px;
    }

    .header__nav__list {
        display: flex;
        align-items: center;
    }

    .header__hamburguer-btn {
        display: none;
    }

    .header__heading {
        padding: 168px 106px 70px;
        width: 50%;
    }

    .section {
        display: flex;
        column-gap: 42px;
        padding: 0 106px;
        margin-top: 127px;
    }

    .section--column {
        padding: 0 140px;
    }

    .section__content--quotation {
        padding: 138px 150px 0;
        row-gap: 50px;
    }

    .section--contact {
        padding: 0 175px;
    }

    .section--contact__description {
        width: 40%;
    }

    .footer__top__article {
        width: 25%;
    }
    
    .footer__bottom {
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav__list {
    column-gap: 25px;
    font-size: 18px;
    font-weight: 500;
}

.header__nav__list > li {
    list-style-type: none;
}

.header__nav__list > li > a {
    color: var(--secondary);
}

.header__nav__btn, .section--contact__btn, .footer__top__article__btn {
    background-color: #FFF;
    opacity: 0.6;

    color: var(--primary);
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;

    border: 1px solid var(--primary);
    border-radius: 5px;
}

/* header main */

.header__heading {
    display: flex;
    flex-direction: column;
    color: var(--secondary);
    row-gap: 8px;
}

.header__heading__subtitle, .header__heading__description, .section--contact__subtitle, .section--contact__description { 
    font-size: 18px;
    text-transform: lowercase;
    font-weight: 500;
    margin: 0;
    width: 75%;
    line-height: 24px;
}

.header__heading__title, .section--contact__title {
    font-size: 44px;
    color: var(--primary);
    font-weight: 500;
    margin: 0;
}

.header__heading__title > em, .section--contact__title > em {
    font-style: normal;
    color: var(--secondary);
}


/* main */

.section {
    display: flex;
    column-gap: 42px;
    margin-top: 127px;
}

.section__content {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.section__content__title {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    color: var(--secondary);
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.section__content__text, .section__content__link {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.section__content__text {
    color: var(--primary-text);
}

.section__content__link {
    color: var(--secondary);
    text-decoration: none;
    text-transform: uppercase;
}

.section--column {
    margin-top: 127px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 55px;
}

.section--quotation {
    background-image: url('./assets/images/bg-clean.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
    color: var(--secondary);
    height: 640px;
}

.section__content--quotation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 60%;
}

.section__content--quote {
    font-size: 52px;
    font-weight: 300;
}

.section__content__text--quote {
    color: var(--secondary)
}

.section__content__link--quote {
    margin-top: auto;
    align-self: flex-end;
}

.section--contact {
    background-image: url('./assets/images/bg-clean.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--secondary);
    row-gap: 8px;
    height: 870px;
}

.section--contact__title {
    margin-bottom: 48px;
}

.section--contact__btn {
    background-color: var(--primary);
    opacity: 1;
    color: #FFF;
    margin-top: 35px;
}

/* footer */

.footer {
    color: var(--primary);
    display: flex;
    flex-direction: column;
}

.footer > small {
    padding: 0 0 29px 38px;
    margin-top: 49px;
}

.footer__top {
    display: flex;
    column-gap: 80px;
    font-size: 14px;
    font-weight: 500;
    width: 90%;
    margin: 0 auto 50px;
}

.footer__top__nav {
    display: flex;
    column-gap: 70px;
}
.footer__top__nav__list {
    text-align: left;
    margin: 0;
}
.footer__top__nav__list > li {
    list-style: none;
}

.footer__top__nav__list > li:not(:first-child) {
    margin: 15px 0;
}

.footer__top__nav__list > li > a {
    color: var(--primary);
}

.footer__top__article {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.footer__top__article__title {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

.footer__top__article__text {
    margin: 0;
}

.footer__top__article__btn {
    margin: 13px 0;
    border: 2px solid var(--secondary);
    color: var(--secondary);
    opacity: 1;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary);
    color: #FFF;
    padding: 36px 38px;
    margin-top: 30px;
}

.footer__bottom__nav {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.footer__reference {
    background-color: var(--primary);
    color: #FFF;
    padding: 0 38px;
}

.footer__reference a {
    color: var(--warning);
    text-decoration: none;
}